@import 'tailwindcss';

@plugin "daisyui" {
  themes: light, black;
}

@source "../../node_modules/rsc-daisyui/dist";

@layer base {
  *::selection {
    @apply bg-primary-content text-primary;
  }

  html {
    scrollbar-width: none !important;
  }

  body {
    @apply font-mono antialiased;
  }

  img {
    @apply select-none;
  }
}
