@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: light, black;
}

@source "../../node_modules/rsc-daisyui/dist";

@layer base {
  *::selection {
    @apply bg-primary-content text-primary;
  }

  html {
    scrollbar-width: thin;
    scrollbar-gutter: stable;
  }

  body {
    @apply font-sans antialiased;
  }

  img {
    @apply select-none;
  }
}

.drawer-overlay {
  @apply cursor-default;
}
