@import 'tailwindcss';

@plugin "daisyui" {
  themes: light, black;
  exclude: rootscrollgutter;
}

@source "../../node_modules/rsc-daisyui/dist";

@layer base {
  * {
    scrollbar-width: none !important;

    &::selection {
      @apply bg-primary-content text-primary;
    }
  }

  body {
    @apply font-mono antialiased;
  }

  img {
    @apply select-none;
  }
}
